@charset "UTF-8";
{% if print_format.font %}
{% set font_family = print_format.font.replace(' ', '+') %}
@import url("https://fonts.googleapis.com/css?family={{ font_family }}:400,500,600,700");
{% elif is_rtl() %}
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap");
{% endif %}

html, body {
	{% if print_format.font %}
	font-family: {{ print_format.font }}, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	{% elif is_rtl() %}
	font-family: Cairo, 'Segoe UI', Tahoma, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
	{% else %}
	font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	{% endif %}
}
